<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movtech.smartpowermeter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_idea"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_idea"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartPowerMeter">
        <activity
            android:name=".ActivityTable3Phase"
            android:screenOrientation="landscape" />
        <activity android:name=".Mon3PhaseActivity" />
        <activity
            android:name=".Table1Phase"
            android:screenOrientation="landscape" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>